{% extends 'base.html' %}

{% block content %}
    <div class="container mt-4">
        <h1 class="mb-4">{{ producto.nombre }}</h1>
        <div class="card">
            <div class="card-body">
                <p class="card-text">{{ producto.descripcion }}</p>
                <p class="card-text"><strong>Precio:</strong> {{ producto.precio }}</p>
                {% if producto.imagen %}
                <img src="{{ producto.imagen.url }}" class="img-fluid" alt="{{ producto.nombre }}">
                {% endif %}
                <p class="card-text mt-3"><strong>Publicado por:</strong> <a href="{% url 'usuarios:perfil' producto.user.pk %}">{{ producto.user.username }}</a></p> <!-- Enlace al perfil del usuario -->
                <a href="{% url 'productos:lista_productos' %}" class="btn btn-primary mt-3">Volver a la lista</a>
            </div>
        </div>
    </div>
{% endblock %}