<style>
    
</style>
{% extends 'base.html' %}

{% block title %}Explorar Productos{% endblock %}
<a href="{% url 'agregar_producto' producto.pk %}" class="btn btn-primary">Agregar Producto</a>


{% block content %}
    <h1>Explorar Productos</h1>
    <p>Aquí se mostrarán todos los productos disponibles.</p>

    <div class="row">
        {% if productos %}
            {% for producto in productos %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="{{ producto.imagen.url }}" class="card-img-top" alt="{{ producto.nombre }}" style="max-height: 200px; object-fit: cover;">
                        <div class="card-body">
                            <h5 class="card-title">{{ producto.nombre }}</h5>
                            <p class="card-text">{{ producto.descripcion|truncatewords:20 }}</p>
                            <p><strong>Precio:</strong> ${{ producto.precio }}</p>
                            <a href="{% url 'detalle_producto' producto.pk %}" class="btn btn-primary">Ver Detalles</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>No hay productos disponibles en este momento.</p>
        {% endif %}
    </div>
{% endblock %}