{% extends 'base.html' %}
{% load static %}
{% load resenas_extras %}

{% block content %}
    <div class="container mt-4">
        <h1 class="mb-4">Lista de Productos</h1>

        <!-- Botón para agregar un nuevo producto -->
        {% if user.is_authenticated %}
            <a href="{% url 'productos:agregar_producto' %}" class="btn btn-success mb-3">Agregar Producto</a>
        {% endif %}

        <!-- Tabla para listar los productos -->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Imagen</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Calificación</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for producto in productos %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>
                        {% if producto.imagen %}
                            <img src="{{ producto.imagen.url }}" class="img-thumbnail" alt="{{ producto.nombre }}" style="width: 100px; height: 100px;">
                        {% else %}
                            <img src="{% static 'images/default-product.jpg' %}" class="img-thumbnail" alt="Imagen no disponible" style="width: 100px; height: 100px;">
                        {% endif %}
                    </td>
                    <td><a href="{% url 'productos:detalle_producto' producto.pk %}">{{ producto.nombre }}</a></td> <!-- Enlace a detalles del producto -->
                    <td>{{ producto.descripcion|truncatewords:10 }}</td>
                    <td>{{ producto.precio }}</td>
                    <td>
                        {% with producto.usuario.resenas_recibidas.all as resenas %}
                            {% if resenas %}
                                {{ resenas|promedio_calificaciones }} / 5
                            {% else %}
                                Sin calificaciones
                            {% endif %}
                        {% endwith %}
                    </td>
                    <td>
                        {% if producto.usuario == user %}
                            <!-- Botón para editar el producto -->
                            <a href="{% url 'productos:actualizar_producto' producto.pk %}" class="btn btn-primary btn-sm">Editar</a>

                            <!-- Botón para eliminar el producto -->
                            <a href="{% url 'productos:eliminar_producto' producto.pk %}" class="btn btn-danger btn-sm">Eliminar</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}